<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div id="product-section"></div>
        </div>
    </body>
</html>
